<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anilreyhan.unpixelate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:noHistory="false" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game.GameScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Etc.Settings"
            android:screenOrientation="portrait"
            android:theme="@style/PopUpTheme" />
        <activity
            android:name=".Etc.About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Etc.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Etc.StartAnimation"
            android:screenOrientation="portrait"
            android:theme="@style/AnimationTheme" />
        <activity
            android:name=".Game.WinScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial.WinScreenTutorial"
            android:screenOrientation="portrait" />


        <activity
            android:name=".Tutorial.TutorialExplanation"
            android:screenOrientation="portrait"
            android:theme="@style/PopUpTheme" />


    </application>

</manifest>